// Colors
$color-white: #fff;
$color-light-grey: #eee;
$color-black: #000;
$color-purple: #7B237C;
$color-accent: #ffd585;

// Measurements
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 0rem;
