// Colors
$color-white: #fff;
$color-light-gray: #eee;
$color-black: #303030;
$color-purple: #7e0f7e;
$color-accent: #ffd585;

// Measurements
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 10rem;
