// Fonts
.fa {
  font-size: 3rem;
  display: block;
  position: relative;
  padding-left: 2.9rem;
  margin-bottom: 2rem;
  z-index: 505;
  &:hover {
    animation:iconPop 0.5s;
    animation-fill-mode: forwards;
    backface-visibility: hidden;
  }
}

.link-icon {
  position: relative;
  z-index: 20;
  &:hover {
    transform-origin: 75% 50%;
  }
}

.sidebar__headshot {
  // position: relative;
  // z-index: 0;
}

.tooltip {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  font-size: 2rem;
  transition: opacity 0.3s 0.4s;
  background-color: $color-black;
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 2px 4px 6px rgba($color-black, .85);
  left: 9.5rem;
  margin-top: -5rem;
  // left: 110%;
}

.fa:hover + .tooltip {
  visibility: visible;
  opacity: 1;
  // display: block;
  // position: absolute;
  // left: 110%;
  // margin-top: -5rem;
  // position: relative;
  // z-index: 9999999;
}
