.btn {
  padding: 1rem 2rem;
  font-size: 1.8rem;
  border: 1px solid $color-white;
  background-color: purple;
  box-shadow: 1px 2px rgba($color-black, .15);
  color: $color-white;
  border-radius: 3px;
  transition: all 320ms; /* Transition property goes on the initial state */
  display: inline-block;
  margin: 0 5px;

  @include respond(phone) {
    display: block;
    // margin-bottom: 2rem;
    width: 50%;
    margin: 2rem auto;
  }

  &-group {
    margin-left: calc(50% + 3.7rem);
    transform: translateX(-50%);

    text-align: center;
    position: relative;
    width: 100%;
    // margin-left: 50%;
    // transform: translateX(-50%);
    float: left;
    @include clearfix;
    // @include fauxCenter;

    @include respond(phone) {
      margin-top: 2rem;
    }
  }

  &:hover {
    background-color: $color-white;
    color: $color-black;
    box-shadow: 2px 4px 20px rgba($color-black, .15);

  }
}
