.contact-form {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  // top: 35%;
  // margin-left: 50%;
  // margin: 0 auto;
  // display: block;
  // max-width: 75%;
  //
  // @include respond(phone) {
  //   top: 30%;
  //   margin-left: 45%;
  // }
  // @include respond(tab-port) {
  //   // top: 30%;
  //   margin-left: 45%;
  // }
}

.field {
  min-width: 50rem;
  margin: 0 auto;
  padding-left: 1rem;
  box-shadow: 0px 4px 12px rgba($color-black, .45);
  border-radius: 5px;
  @include respond(phone) {
    min-width: 30rem;
    // margin-bottom: 1rem;
  }
  @include respond(tab-port) {
    min-width: 40rem;
    margin-bottom: 1rem;

  }
  @include respond(tab-land) {
    margin-bottom: 2rem;
    min-width: 50rem;
  }
  margin-bottom: 2rem;
  &__standard {
    height: 5rem;

    &--name {
      animation: 400ms ease .4s 1 normal both contactSlide;
    }
    &--email {
      animation: 800ms ease 0.6s 1 normal both contactSlide;
    }
  }


  &__textarea {
    height: 8rem;
    animation:  1200ms ease 0.8s 1 normal both contactSlide;
    padding: 1rem;
  }
}

.btn-raise {
  animation: 1400ms ease 1s 1 normal both contactSlide;
  top: 0.5rem;
}

.challenge__row {
  margin-left: 40%;
  transform: translateX(-50%);
}

.challenge__text {
  color: $color-white;
  font-size: 2rem;
  animation: 1s ease 0.7s normal both contactSlide;
  display: inline-block;
  // width: 50%;
  @include respond(phone) {
    position: relative;
    // margin-left: -5rem;
    display: inline;
  }
}

.validation {
  border-radius: 3px;
  display: block;
  background-color: $color-white;
  box-shadow: 2px 4px 20px rgba($color-black, .15);
  position: relative;
  text-align: center;
  font-size: 4rem;
  margin: 0 auto;
  margin-left: calc(50% + 5rem);
  transform: translateX(-50%);
  margin-left: 50%;


  @include respond(phone) {
    width: 90%;
    font-size: 2rem;
    margin-left: 50%;
  }
  @include respond(tab-port) {
    margin-left: 50%;
  }
  @include respond(tab-land) {
    margin-left: 50%;

  }

  &--success {
    color: $color-black;
    color: green;
    margin-bottom: 18rem;
    border: 1px solid green;
    padding: 3rem;
    padding: 5px 9px;
  }
  &--error {
    color: red;
    border: 1px solid red;
    padding: 5px 9px;
    margin-bottom: 5rem;
    bottom: -2rem;
  }
}

form span{
  color: red;
}

.contact__challenge {
  margin-bottom: 2rem;
  padding-left: 1rem;
  box-shadow: 0px 4px 12px rgba($color-black, .45);
  border-radius: 5px;
  height: 5rem;
  width: 5rem;
}

.faux-center {
  // position: relative;
  // margin-left: calc(50% + 3.5rem);
  // transform: translateX(-50%);
}
