.sidebar {
  display: inline-block;
  width: 9rem;
  height: 100vh;
  background-color: purple;
  color: $color-white;
  position: absolute;
  top: 0;
  float: left;

  a {
    color: $color-light-grey;
    &:hover {
      color: $color-white;
    }
  }

  &__headshot {
    border-radius: 50%;
    border: 2px solid white;
    margin-left: 8%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 7rem;
  }
}

.social-icons {
  position: absolute;
  bottom: 8rem;
}

.icon-bubble {
  width: 20rem;
  height: 10rem;
  border-radius: 4rem;
  // border: 3px solid black;
  margin-left: 10rem;
  padding: 2rem 4rem;
  color: white;
  background-color: purple;
  -webkit-clip-path: polygon(19% 0, 100% 6%, 100% 100%, 21% 93%, 19% 64%, 0 62%, 19% 45%);
  clip-path: polygon(19% 0, 100% 6%, 100% 100%, 21% 93%, 19% 64%, 0 62%, 19% 45%);
}

.hide {
  // opacity: 0;
  display: none;
}
