.blog {
  &__container {
    // min-width: 85rem;
    margin: 0 auto;
    color: $color-black;
    background-color: transparent;
    overflow-y: scroll;

    @include respond(tab-land) {
      // min-width: 75rem;
    }
    @include respond(tab-port) {
      // min-width: 55rem;
    }
    @include respond(phone) {
      // min-width: 30rem;
    }
  }
  &__post {
    // margin: 2rem 0 .5rem;
    background-color: rgba($color-white, 0.9);
    padding: 4rem;
    opacity: 0.9;
    border-radius: 4px;

    @include respond(phone) {
      padding: 2rem;
    }
  }
  &__title {
    color: $color-black;
    font-weight: bold;
    margin-bottom: 1rem;
    a {
      color: $color-black;

      &:hover {
        color: $color-purple;
      }
    }
  }
  &__content {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }
  &__meta {
    color: $color-black;
    font-size: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    text-transform: uppercase;

    &--top {
      text-align: right;
      border-bottom: 1px solid $color-light-gray;
      padding-right: 3rem;
    }
    &--bottom {
      border-top: 1px solid $color-light-gray;
      padding-top: 1rem;
    }
  }

}

.return-to-blog {
  color: $color-white;
  font-size: 2rem;
  position: relative;
  top: 2rem;
  margin-left: 10.5rem;

  @include respond(phone) {
    margin-left: 0;
    top: -2rem;
  }

  // @include respond(tab-port) {
    // margin-left: 10.5rem;
  // }
}
