.contact__body {
  position: absolute;
  width: calc(100% - 9rem);
  right: 0;


}

.right {
  position: absolute;
  display: inline-block;
  margin-top: 2.25rem;
  margin-left: 15rem;
  @include respond(phone) {
    margin-left: 2rem;
  }

}
