.project-tile {
  // padding: 2rem;
  max-width: 50rem;
  // max-height: 10px;
  // position: relative;
  // z-index: 500;
  position: relative;
  display: inline-block;
  border-radius: 2rem;
  box-shadow: 0px 4px 6px rgba($color-black, .45);
  &:hover {
    animation:tilePop 0.5s;
    animation-fill-mode: forwards;
    backface-visibility: hidden;
  }
}

.project-row {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5rem;
}
