
.projects__body {
  position: absolute;
  left: 50%;
  width: 90%;
  -webkit-transform: translateX(-45%);
  transform: translateX(-45%);
  //
  @include respond(phone) {
    -webkit-transform: translateX(-42%);
    transform: translateX(-42%);
    width: 100%;
  }
  @include respond(tab-port) {
    -webkit-transform: translateX(-45%);
    transform: translateX(-45%);
    // width: 90%;

  }
  @include respond(tab-land) {
    -webkit-transform: translateX(-45%);
    transform: translateX(-45%);
    // width: 90%;

  }
}

.project-tile {
  width: 50rem;
  height: 50rem;
  position: relative;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba($color-black, .45);
  margin-bottom: 5rem;
  // margin-left: 50%;
  transform: translateX(-50%);

  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);


  @include respond(phone) {
    width: 20rem;
    height: 20rem;
  }
  @include respond(tab-port) {
    width: 30rem;
    height: 30rem;
  }
  @include respond(tab-land) {
    width: 40rem;
    height: 40rem;
    // margin: 0 5rem;
  }
  &:hover {
    animation: tilePop 0.5s;
    animation-fill-mode: forwards;
    backface-visibility: hidden;
  }
}

.portfolio-projects {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-left: 50%;
  transform: translateX(calc(-50% + 4.5rem));
  margin-top: 2rem;
}

.single-project-content {
  color: $color-black;
  margin: 0 auto;
  margin-bottom: 8rem;
  font-size: 1.75rem;
  background-color: rgba($color-white, 0.9);
  border: 1px solid $color-black;
  padding: 8rem;
  width: 80%;
  min-height: 70rem;

  @include respond(phone) {
    width: 100vw;
    padding: 9rem;

  }
  @include respond(tab-port) {
    width: 80%;
    padding: 4rem;

  }
  @include respond(tab-land) {
    width: 80%;
  }

  &--transparent {
      background-color: transparent;
      border: 0;
  }
}

.single-project__body {
  position: absolute;
  width: calc(100% - 9rem);
  right: 0;
}

.project__thumbnail {
  width: 100%;
  max-width: 40rem;
  height: 100%;
  margin-bottom: 3rem;

  @include respond(tab-port) {
    display: block;
  }
  @include respond(phone) {
    display: none;
  }
}

.technologies__list {
  // margin-bottom: 10rem;
  max-width: 50%;
  display: inline-block;

  & li {
    margin-left: 3rem;
  }
  &--small {
    float: right;
    @include clearfix;
    width: 100%;
  }
}

.portfolio-external-links {
  font-size: 9rem;
  color: $color-black;
  transition: color 1s;
  margin: 1rem;

  &:hover {
    color: $color-purple;
  }
}
